<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          SignUp
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /cont -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"></div>
      </div>
    </div>
  </div>
  <!-- /cont -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <form
            style="margin-left: 10%"
            #userlogin="ngForm"
            (ngSubmit)="userVerify()"
          >
            <div class="form-group">
              <label style="margin-top: 3%">Name</label>
              <input
                type="text"
                class="form-control"
                style="width: 350px"
                name="name"
                [(ngModel)]="user.username"
                required
              />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                style="width: 350px"
                name="email"
                #email="ngModel"
                [class.is-invalid]="email.invalid && email.touched"
                [(ngModel)]="user.email"
                pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}"
                required
              />
              <small
                class="text-danger"
                [class.d-none]="email.valid || email.touched"
                >Enter valid email</small
              >
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                style="width: 350px"
                name="pwd"
                [class.is-invalid]="pwd.invalid && pwd.touched"
                #pwd="ngModel"
                [(ngModel)]="user.pwd"
                minlength="6"
                required
              />
              <small
                class="text-danger"
                [class.d-none]="pwd.valid || pwd.touched"
                >Enter password of minimum length 6</small
              >
            </div>
            <button
              type="submit"
              class="btn btn-info"
              style="margin: 10% 0 5% 35%"
              [disabled]="userlogin.form.invalid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
