<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          Authors
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /cont -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"></div>
      </div>
    </div>
  </div>
  <!-- /cont -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->

          <div class="row" *ngFor="let authors of adata">
            <br />
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"
                ><img
                  alt="image"
                  [src]="authors.image"
                  style="width: 100px; height: 100px"
                  class="img-circle"
              /></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>{{ authors.aname }}</h3>

              <div class="row">
                <div class="col-xs-9">
                  <h4>
                    <span class="label label-default">{{ authors.books }}</span>
                  </h4>
                  <h4>
                    <small
                      style="font-family: courier, 'new courier'"
                      class="text-muted"
                    >
                      •<a href="" class="text-muted"></a
                      ><a (click)="ReadAuthor(authors)" class="text-muted"
                        >Read More</a
                      ></small
                    >
                  </h4>
                </div>

                <div class="row">
                  <button
                    class="btn btn-primary"
                    style="margin-left: 700px"
                    (click)="EditAuthor(authors)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-danger"
                    style="margin-left: 5px; margin-right: 5px"
                    (click)="deleteAuthor(authors)"
                  >
                    Delete
                  </button>
                </div>
                <div class="col-xs-3"></div>
              </div>
              <br /><br />
            </div>

            <hr />

            <!--/stories-->
          </div>
        </div>
      </div>
      <!--/col-12-->
    </div>
  </div>

  <hr />

  <hr />
</div>
